@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Sedan+SC&display=swap");

* {
  padding: 0;
  margin: 0;
}
nav {
  background-color: black;
  color: #cad9e6;
  font-size: 50px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-family: "Lora", serif;
  height: 70px;
}

.gamecreater {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.creater {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: "Lora", serif;
  position: relative;
}
.box {
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 8vw;
  cursor: pointer;
}
.gameinfo {
  font-size: 20px;
  padding: 20px 34px;
  font-family: "Sedan SC", serif;
}
.info {
  font-size: 20px;
}
.gameinfo h1 {
  font-size: 3rem;
}
.imgb img {
  width: 0;
  transition: 1s width ease-in-out;
}
.bl-0 {
  border-left: 0;
}
.bt-0 {
  border-top: 0;
}
.br-0 {
  border-right: 0;
}
.bb-0 {
  border-bottom: 0;
}
.box:hover {
  background-color: blanchedalmond;
}
.line {
  /* height: 4px;
  width: 0;
  top: 50%;
  left: 50%;
  transition: 1s width ease-in-out;
  position: absolute;
  background-color: blue; */
 position: absolute;
  height: 4px;
  background-color: blue;
  width: 0;
  transform-origin: left center;
  transition: width 0.3s ease;
  z-index: 10;
  
}
#reset {
  margin: 0 20px;
  padding: 1px 18px;
  font-family: "Sedan SC", serif;
  font-size: 30px;
  font-weight: bold;
  border-radius: 16px;
  background-color: beige;
  cursor: pointer;
}
#reset:hover {
  background-color: gray;
  font-size: 2.5rem;
}
body {
  background-color: lightcoral;
}
@media (min-width: 993px) and (max-width: 1200px) {
  .creater {
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
  }

  .box {
    font-size: 90px;
  }
.line {
    height: 4px;
  }

}

/* Tablets */
@media (min-width: 601px) and (max-width: 992px) {
  nav {
    font-size: 36px;
    height: 60px;
  }

  .gamecreater {
    margin-top: 60px;
    gap: 20px;
  }

  .creater {
    grid-template-columns: repeat(3, 18vw);
    grid-template-rows: repeat(3, 18vw);
  }

  .box {
    font-size: 10vw;
  }

  .gameinfo h1 {
    font-size: 2.2rem;
  }
  .line {
    height: 4px;
    margin-top: 34px;
  }

}

/* Mobile devices */
@media (min-width: 300px) and (max-width: 600px) {
  nav {
    font-size: 24px;
    height: 55px;
  }

  .gamecreater {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .creater {
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vw);
  }

  .box {
    font-size: 12vw;
  }

  .gameinfo {
    text-align: center;
    padding: 20px;
  }

  .gameinfo h1 {
    font-size: 1.8rem;
  }

  #reset {
    font-size: 22px;
    padding: 6px 20px;
  }
 .line {
    height: 4px;
    width: 0; /* JS controls width */
    margin-top: 0px;
   

  }
  
}


@media screen and (max-width: 400px )   {
  nav {
    font-size: 18px;
  }

  .creater {
    grid-template-columns: repeat(3, 28vw);
    grid-template-rows: repeat(3, 28vw);
  }

  .box {
    font-size: 14vw;
  }

  .gameinfo h1 {
    font-size: 1.5rem;
  }

  #reset {
    font-size: 18px;
  }
  .line {
    height: 3px;
    width: 0;
    margin-top: -3px;
  }
}




